<!DOCTYPE html>
<html lang="es">

<head>
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="/css/comment_section.css">
</head>
<body>
    <body style="background-color: rgb(0, 0, 0); color: black;">

<div class="responsive-container-block bg">
    <p class="text-blk title" style="color: #ffffff;">
      Comments
    </p>
    <div class="btn">
      <div class="container-block swiper-button-prev">
        <!--<img src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/t33.png">-->
      </div>
      <div class="container-block swiper-button-next">
        <!--<img class="image-block" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/t32.png">-->
      </div>
    </div>
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="responsive-container-block content">
            <div class="responsive-cell-block wk-desk-6 wk-ipadp-6 wk-tab-12 wk-mobile-12 images">
              <img class="profile-img" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/eourInstructors1.svg">
              <img class="rating" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/t82.jpg">
            </div>
            <div class="responsive-cell-block wk-desk-6 wk-ipadp-6 wk-tab-12 wk-mobile-12 text">
              <p class="text-blk name">
                Jane Doe
              </p>
              <p class="text-blk desig">
                CEO
              </p>
              <p class="text-blk info">
                SUUUUUUUUUUUUUUUUU
              </p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="responsive-container-block content">
            <div class="responsive-cell-block wk-desk-6 wk-ipadp-6 wk-tab-12 wk-mobile-12 images">
              <img class="profile-img" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/eourInstructors1.svg">
              <img class="rating" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/t82.jpg">
            </div>
            <div class="responsive-cell-block wk-desk-6 wk-ipadp-6 wk-tab-12 wk-mobile-12 text">
              <p class="text-blk name">
                Jane Doe
              </p>
              <p class="text-blk desig">
                CEO
              </p>
              <p class="text-blk info">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cursus elementum magna ut duis pulvinar tincidunt vivamus adipiscing quam. Eget dui quis etiam sed eget sed est.
              </p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="responsive-container-block content">
            <div class="responsive-cell-block wk-desk-6 wk-ipadp-6 wk-tab-12 wk-mobile-12 images">
              <img class="profile-img" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/eourInstructors1.svg">
              <img class="rating" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/t82.jpg">
            </div>
            <div class="responsive-cell-block wk-desk-6 wk-ipadp-6 wk-tab-12 wk-mobile-12 text">
              <p class="text-blk name">
                Jane Doe
              </p>
              <p class="text-blk desig">
                CEO
              </p>
              <p class="text-blk info">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cursus elementum magna ut duis pulvinar tincidunt vivamus adipiscing quam. Eget dui quis etiam sed eget sed est.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-pagination container-block">
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
  <script src="/js/comment_section.js"></script>

</body>

</html>
