<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sound Library</title>
    <link rel="stylesheet" href="/css/start.css">
</head>

<body>
    <div class="container">
        <!-- Navbar -->
        <nav class="navbar">
            <div class="navbar-container">
                <div class="logo">Download Library</div>
                <ul class="nav-links">
                </ul>
            </div>
        </nav>

        <!-- Search Bar -->
        <div class="search-container">
            <input type="text" id="search" class="search-bar" placeholder="Searching for sounds...">
            <select class="fold-out" id="category">
                <option value="all">All Categories</option>
                <option value="Meme">Meme</option>
                <option value="Football">Football</option>
                <option value="Party">Party</option>
            </select>
        </div>

        <!-- Sound Previews -->
        <div class="sound-grid" id="soundsContainer">
            {{#sounds}}
            <div class="sound-card">
                <div class="card-head">
                    <img src="{{imagePath}}" alt="{{title}}" class="card-img">
                </div>
                <div class="card-body">
                    <h3 class="card-title"> 
                        <!-- Nombre del sonido -->
                        <a href="javascript:void(0);" onclick="downloadSound({id})">{{title}}</a>
                    </h3>
                    <div class="card-info">
                        <span class="category">{{category}}</span>
                        <span class="duration">{{duration}} min</span>
                    </div>
                    <audio id="audio-{{id}}" src="{{filePath}}" preload="none"></audio>
                    <!-- Botón de descarga -->
                    <button onclick="downloadSound({id})">Download</button>
                </div>
            </div>
            {{/sounds}}
        </div>

        <script>
            // Función para descargar el sonido
            function downloadSound(soundId) {
                // Redirigir al usuario a la URL de descarga
                window.location.href = '/downloadSound/' + soundId;
            }
        </script>

        <script src="/js/start.js"></script>
        <footer>
            <div class="footer-content">
                <div class="footer-brand">
                    <div class="logo">SwapSounds</div>
                    <p class="slogan">Experience the future of sounds</p>
                </div>
            </div>
        </footer>
    </div>
</body>

</html>
