<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Descargar Sonidos</title>
    <link rel="stylesheet" href="/css/sounds.css">
</head>

<body>
    <div class="container">
        <!-- Navbar -->
        <nav class="navbar">
            <div class="navbar-container">
                <div class="logo">Sound Library</div>
                <ul class="nav-links">
                    {{^username}} <!-- Shows this if there is no user logged in -->
                    <li><a href="/login">Login</a></li>
                    {{/username}}
                    {{#username}} <!-- Shows this if there is a user logged in -->
                    <li><a href="/sounds/upload?username={{username}}">Upload Sound</a></li>
                    <li><a href="/sounds/download">Download Sound</a></li>
                    <li><a href="/delete-account">Delete Account</a></li>
                    <li><a href="/logout">Logout</a></li>
                    <li><a href="/profile/{{username}}">Ver perfil</a></li>
                    {{/username}}
                </ul>
            </div>
        </nav>

        <!-- Search Bar -->
        <form action="/sounds" method="GET" class="search-container">
            <input type="text" name="query" class="search-bar" placeholder="Searching for sounds..."
                value="{{#query}}{{query}}{{/query}}"> <!-- Maintain the value after searching -->

            <select name="category" class="fold-out" onchange="this.form.submit()">
                <option value="all" {{#selectedAll}}selected{{/selectedAll}}>All Categories</option>
                {{#allCategories}}
                <option value="{{name}}" {{#selected}}selected{{/selected}}>{{name}}</option>
                {{/allCategories}}
            </select>

            <!-- Hiden Button to submit with Enter  -->
            <button type="submit" hidden></button>
            <input type="hidden" name="_csrf" value="{{token}}" />
        </form>

        <!-- Sound Grid -->
        <div class="sound-grid" id="soundsContainer">
            {{#sounds}} <!-- Iterate over the list of sounds -->
            <div class="sound-card">
                <div class="card-head">
                    <img src="/sounds/image/{{soundId}}" alt="{{title}}" class="card-img">
                    <div class="card-overlay">
                        <div class="play">
                            <ion-icon name="play-circle-outline"></ion-icon>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <h3 class="card-title"><a href="/sounds/{{soundId}}">{{title}}</a></h3>
                    <div class="card-info">
                        <div class="categories">
                            {{#categories}}
                            <span class="category">{{name}}</span>
                            {{/categories}}
                        </div>
                        <span class="duration">{{duration}} min</span>
                    </div>
                    <div class="audio-container">
                        <audio controls class="custom-audio">
                            <source src="/sounds/audio/{{soundId}}" type="audio/mpeg">
                            Tu navegador no soporta el elemento de audio.
                        </audio>
                    </div>
                </div>
            </div>
            {{/sounds}}
            {{^sounds}} <!-- If there's no sounds, this message will appear -->
            <p>No se encontraron sonidos.</p>
            {{/sounds}}
        </div>

        <!-- Footer -->
        <footer>
            <div class="footer-content">
                <div class="footer-brand">
                    <div class="logo">SwapSounds</div>
                    <p class="slogan">Experience the future of sounds</p>

                    <div class="social-link">
                        <a href="#"><ion-icon name="logo-facebook"></ion-icon></a>
                        <a href="#"><ion-icon name="logo-twitter"></ion-icon></a>
                        <a href="#"><ion-icon name="logo-instagram"></ion-icon></a>
                        <a href="#"><ion-icon name="logo-tiktok"></ion-icon></a>
                        <a href="#"><ion-icon name="logo-youtube"></ion-icon></a>
                    </div>
                </div>

                <div class="footer-links">
                    <ul>
                        <h4 class="link-heading">SwapSounds</h4>
                        <li class="link-item"><a href="#">About us</a></li>
                        <li class="link-item"><a href="#">My profile</a></li>
                        <li class="link-item"><a href="#">Pricing plans</a></li>
                        <li class="link-item"><a href="#">Contacts</a></li>
                    </ul>

                    <ul>
                        <h4 class="link-heading">Browse</h4>
                        <li class="link-item"><a href="#">Categories</a></li>
                        <li class="link-item"><a href="#">Production Sounds</a></li>
                        <li class="link-item"><a href="#">Free-to-use</a></li>
                        <li class="link-item"><a href="#">Favourites</a></li>
                    </ul>

                    <ul>
                        <h4 class="link-heading">Help</h4>
                        <li class="link-item"><a href="#">Account & Billing</a></li>
                        <li class="link-item"><a href="#">Plans & Pricing</a></li>
                        <li class="link-item"><a href="#">Supported Devices</a></li>
                        <li class="link-item"><a href="#">Accessibility</a></li>
                    </ul>
                </div>
            </div>

            <div class="footer-copyright">
                <div class="copyright">
                    <p>&copy; Copyright 2025 SwapSounds</p>
                </div>

                <div class="wrapper">
                    <a href="#">Privacy policy</a>
                    <a href="#">Terms and conditions</a>
                </div>
            </div>
        </footer>
    </div>
</body>

</html>